/* :root {
  --green: rgb(39, 189, 39);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  background-color:rosybrown
}

/* h2 {
  margin-bottom: 1rem;
} */


.nav-btn {
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.card {
  max-width: 400px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* border: 2px solid var(--dark-turquoise); */
  padding: 5px;
  margin: 5px;
}
